<!DOCTYPE html>
<html>
<head>
  <title>Provisioning Test Page</title>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <style type="text/css">
    body {
      text-align:center;
      font-family: 'Slabo 27px', serif;
      height:100vh;
    }
    .vertical-center {

      position:relative;
      top:50%;
      transform: translateY(-50%);
    }
    img {
      width: 150px;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
    <h1>Welcome to the Sparta Test App</h1>
    <img src="/images/squarelogo.jpg" />
    <h2>The app is running correctly.</h2>
    <img src="https://media.tenor.com/dcpZz7CEJWEAAAAC/spinning-cat-maxwell.gif">
    <img src="https://media.tenor.com/NkVGhrv6OKoAAAAM/turntable-cat-cat.gif">
    <img src="https://i.gifer.com/3rIx.gif">
    <!-- <img src=""> -->
    <img src="https://media2.giphy.com/media/MDJ9IbxxvDUQM/giphy.gif?cid=ecf05e47olk968r42db36ve8qjd926gmroc4ha63amw9ut4o&ep=v1_gifs_search&rid=giphy.gif&ct=g">
    <p>Cat gifs included for test purposes only.</p>
  </div>
</body>
</html>
